# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment directories
.env/
.venv/
venv/
ENV/

# Notebook checkpoints
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db

# Project secrets
secrets.json
